[Unit]
Description={{ item.fqdn }}

[Service]
ExecStart=/usr/bin/node {{ item.web_root }}/public/app.js
WorkingDirectory= {{ item.web_root }}/public
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ item.fqdn }}
User= {{item.user}}
Group=www-data
Environment=NODE_ENV=production PORT={{item.port}}

[Install]
WantedBy=multi-user.target
