[Unit]
Description={{ project_name }}

[Service]
ExecStart="source /home/{{ user }}/.nvm/nvm.sh && /home/{{ user }}/.nvm/versions/node/v{{node_version}}/bin/serve -s build"
WorkingDirectory={{ project_folder }}/frontend/
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ fqdn }}
User={{ user }}
Group=www-data

[Install]
WantedBy=multi-user.target
