{% extends "base.j2" %}
{% block content %}
  error_log /var/log/nginx/sites/{{ item.fqdn }}/error_log.log;
  index index.php index.html index.htm;

  #First check if uri is a file, otherwise redirect to index.php
  location / {
    try_files $uri @rewrite;
  }

  location @rewrite {
    rewrite ^/(.*)$ /index.php?q=$1 last;
  }

  location ~ /index.php {
    include fastcgi_params;

    # Block httpoxy attacks. See https://httpoxy.org/.
    fastcgi_param HTTP_PROXY "";
    fastcgi_param SCRIPT_FILENAME $document_root/index.php;
    fastcgi_param PATH_INFO $fastcgi_path_info;
    fastcgi_param CI_ENV production;
    fastcgi_intercept_errors on;

    # PHP 7 socket location.
    fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
  }
{% endblock %}