server {
	listen 80 deferred;
	listen [::]:80 deferred;
	server_name  {{ item.fqdn }};
	client_max_body_size 4G;

	keepalive_timeout 5;

	access_log off;

	# Allow "Well-Known URIs" as per RFC 5785
	location ~* ^/.well-known/ {
		allow all;
		root {{media_root}};
	}

	location /static/ {
		alias {{ static_root }};
	}

	location /media/ {
		alias {{ media_root }};
	}

	location / {
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		# enable this if and only if you use HTTPS
		# proxy_set_header X-Forwarded-Proto https;
		proxy_set_header Host $http_host;
		# we don't want nginx trying to do something clever with
		# redirects, we set the Host: header above already.
		proxy_redirect off;
		proxy_pass http://unix:/run/{{ process_name }}/socket;
	}
}
