{% extends "base.j2" %}
{% block content %}
  root {{ item.web_root }}/limesurvey;

  index index.php index.html index.htm;

  # Limesurvey specific things
  charset utf-8;
  location ~ ^/(protected|framework|themes/\w+/views) {
      deny  all;
  }
  #avoid processing of calls to unexisting static files by yii
  location ~ \.(js|css|png|jpg|gif|swf|ico|pdf|mov|fla|zip|rar)$ {
      try_files $uri =404;
  }

  location ~ \.php(/|$) {
    fastcgi_split_path_info ^(.+?\.php)(|/.*)$;
    #NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param PATH_INFO $fastcgi_path_info;
    fastcgi_intercept_errors on;
    fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
  }
{% endblock %}
