{% extends "base.j2" %}
{% block content %}
  location /backend {
    location /backend/static/ {
      alias {{ static_root }};
    }

    location /backend/media/ {
      alias {{ media_root }};
    }

    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    # enable this if and only if you use HTTPS
    # proxy_set_header X-Forwarded-Proto https;
    proxy_set_header Host $http_host;

    # we don't want nginx trying to do something clever with
    # redirects, we set the Host: header above already.
    proxy_redirect off;

    proxy_pass http://unix:/run/{{ process_name }}/socket;
  }

  location / {
    root {{ project_folder }}/frontend/build;
    index index.html;
    try_files $uri $uri/ =404;
  }
{% endblock %}
