{% extends "base.j2" %}
{% block content %}
  location /static/ {
    alias {{ static_root }};
  }

  location /media/ {
    alias {{ media_root }};
  }

  location / {
    # we don't want nginx trying to do something clever with
    # redirects, we set the Host: header above already.
    proxy_redirect off;
    proxy_http_version 1.1;

    proxy_set_header Host $http_host;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header X-Forwarded-Host $server_name;
    proxy_set_header X-Real-IP $remote_addr;

    proxy_pass http://unix:/run/ordsys/socket;
  }
{% endblock %}
