{% extends "service-base.j2"%}
{% block exec_start %}
{{ virtualenv }}/bin/gunicorn --pid /run/{{process_name}}/pid   \
          --bind unix:/run/{{process_name}}/socket {{wsgi_module}}
{% endblock %}
