[Unit]
Description={{process_name}} daemon
{% if use_gunicorn %}
Requires={{process_name}}.socket
{% endif %}
After=network.target

[Service]
PIDFile=/run/{{process_name}}/pid
User={{process_user}}
Group={{process_group}}
RuntimeDirectory={{process_name}}
WorkingDirectory={{working_dir}}
ExecStart={% block exec_start %}{% endblock %}

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

{% for variable in environment_variables %}
Environment="{{ variable }}={{ environment_variables[variable] }}"
{% endfor %}

[Install]
WantedBy=multi-user.target
